<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Item details</title>
    </head>
    <body>
        <h1><%= game._id %></h1>
        <p>Name: <%= game.name %></p>
        <p>Price: <%= game.price %></p>
        <p>Quantity: <%= game.quantity %></p>
        <% if (game.synopsis) { %>
        <p>Synopsis: <%= game.synopsis %></p>
        <% } %>
        <ul>
            <% game.availableConsoles.forEach(console => { %>
            <li><%=console.name%></li>
            <% }) %>
        </ul>
        <p><a href="<%= game.url %>/update">Update item</a></p>
        <form action="<%= game.url %>/delete" method="post">
            <button type="submit">Delete item</button>
        </form>
    </body>
</html>
