<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Item details</title>
        <script src="/javascripts/password.js" defer></script>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= game._id %></h1>
        <p>Name: <%= game.name %></p>
        <p>Price: <%= game.price %></p>
        <p>Quantity: <%= game.quantity %></p>
        <% if (game.synopsis) { %>
        <p>Synopsis: <%= game.synopsis %></p>
        <% } %>
        <ul>
            <% game.availableConsoles.forEach(console => { %>
            <li><%=console.name%></li>
            <% }) %>
        </ul>
        <p><a href="<%= game.url %>/update">Update item</a></p>
        <p><button class="confirm">Delete item</button></p>
        <div style="visibility: hidden" class="modal">
            <form action="<%= game.url %>/delete" method="post">
                <label for="pwd">Introduce password</label>
                <input type="password" id="pwd" />
                <p></p>
                <button>Confirm</button>
            </form>
        </div>
    </body>
</html>
